h1 {
  color: black;
  margin-left: 20px;
}

#results tr:nth-child(even){background-color: #f5e8d5;}

#results tr:nth-child(even){background-color: #ccc0ad;}

#results tr:hover {background-color: rgb(255, 219, 163);}

