<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  

    <title>Allergen Chart Table</title>
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="workspace/InteractiveWebApp/web_ca/Views/css/style.css">

</head>

<body>

 

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Allergen Table</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </div>
    </div>
  </nav>


  <!-- Page Content -->
<div class="view" style="background-image: url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  
  <div class="container">
  <div class="bg"></div>
    <div class="row">
      <div style="background-color: rgb(255, 255, 255, 0.9)" class="col-lg-12 text-center">
        <h1 class="mt-5">DISHES AND THEIR ALLERGEN CONTENT  </h1>
        <p class="lead">(Note – Please state the name of the cereal(s) containing gluten** in that column AND/OR the name of the nut(s)* in that column)</p>
        
      </div>
      <div style="background-color: rgb(255, 255, 255, 0.9)"><div id="results" class="col-lg-12" ></div>
       </div>
       
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
 <script src="jQuery/jquery.min.js"></script>
 <script src="jQuery/table.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>
